
body {
  background-color: white; /* קובע שהרקע של כל הדף יהיה לבן*/
  font-family: Arial, sans-serif; /* קובע את סוג הפונט של כל הטקסט בדף*/
  text-align: center; /* מיישר את כל הטקסט והאלמנטים שבפנים למרכז*/
  margin: 0; /* מסיר רווחים ברירת מחדל שיש לדפדפן בקצוות הדף/*
  padding: 0; /* מסיר רווחים פנימיים ברירת מחדל שיש לדפדפן בקצוות הדף*/
  padding: 0;
}
.calculator {
  margin: 50px auto; /* מציב את המחשבון באמצע הדף עם רווח של 50px מלמעלה ומטה*/
  width: 200px; /* קובע רוחב קבוע למחשבון*/
}

#display {
  background-color: #eeeeee; /* קובע רקע אפור בהיר לאזור התצוגה, שיהיה בולט אבל לא כהה מדי */
  padding: 30px; /* מוסיף ריווח פנימי מכל הצדדים – שהמספרים לא "יידבקו" לקצה */
  font-size: 50px; /* מגדיל את גודל הטקסט כך שיהיה ברור ונעים לעין */
  min-height: 40px; /* קובע גובה מינימלי לאזור התצוגה גם כשהוא ריק */
  text-align: right; /* מיישר את הטקסט לימין – כמו מחשבון אמיתי */
  border: 1px solid #cccccc; /* מוסיף מסגרת דקה בצבע אפור כדי להגדיר את הגבולות של התצוגה */
  margin-bottom: 10px; /* מוסיף ריווח מתחת לתצוגה – כדי שלא תיגע בכפתורים */  
}

.buttons {
  display: grid; /* הופך את הקבוצה לגריד (רשת) כדי שיהיה קל לסדר כפתורים בטורים ושורות */
  grid-template-columns: repeat(4, 1fr); /* יוצר 4 עמודות ברוחב שווה */
  gap: 5px; /* מוסיף רווח של 5 פיקסלים בין כפתור לכפתור */
}

